body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: fit-content;
    background-color: #333;
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color:#333;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    text-shadow: 1px 1px 5px white;
}
.pimg3 {
    position: relative;
    opacity: 0,70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("beautiful-cherry-blossom-with-bokeh-lights-background-concept-free-vector.jpg");
    min-height: 400px;
}
.section {
    text-align: center;
    padding: 50px 80px;
}
.section-about {
    background-color: #e04646;
    color: #ddd;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    background-color: #111;
    color: #fff;
    padding: 20px;
    background-color: transparent;
}
@media(max-width: 568px) {
    .pimg3 {
        background-attachment: scroll;
    }
}
.border.trans {
    color: #000;
    padding: 20px;
    background-color: transparent;
}
.futbal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: red;
    text-align: center;
    padding-top: 15px;
}
.card {
    width: 325px;
}
footer {
    margin-top: 50px;
}
.contact-page {
    background-color: black;
}
.contact-link {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
}
.contact-img {
    width: 80px;
    height: 80px;
}