body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: fit-content;
    background-color: #333;
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    text-shadow: 1px 1px 5px white;
}